colorama==0.4.3
google_api_python_client==2.107.0
httplib2==0.22.0
protobuf==4.25.1
pyTelegramBotAPI==4.14.1
pyTelegramBotAPI==4.14.1
Requests==2.31.0
selenium==4.16.0
chromedriver-autoinstaller==0.6.3
undetected_chromedriver==3.5.5
setuptools==69.0.3
